{%extends 'app/base.html'%}
{%load static%}
{% load custom_filters %}
{%block category%}
<div class="shop-page-title category-page-title page-title ">
	<div class="page-title-inner flex-row  medium-flex-wrap container">
	  <div class="flex-col flex-grow medium-text-center">
	  	<div class="is-large">
	<nav class="woocommerce-breadcrumb breadcrumbs uppercase"><a href="{%url 'home'%}">Trang chủ</a> <span class="divider">&#47;</span> Cửa hàng</nav></div>
<div class="category-filtering category-filter-row ">
	<a href="#" data-open="#shop-sidebar"  data-pos="left" class="filter-button uppercase plain">
		<i class="fa-solid fa-arrow-up-short-wide"></i>
		<strong>Lọc theo giá</strong>
    
	</a>
	<div class="inline-block">
			</div>
</div>
	  </div>
    
	  <div class="flex-col medium-text-center">
	  	
{% comment %} <form class="woocommerce-ordering" method="get">
	<select name="orderby" class="orderby" aria-label="Đơn hàng của cửa hàng">
					<option value="menu_order"  selected='selected'>Thứ tự mặc định</option>
					<option value="popularity" >Thứ tự theo mức độ phổ biến</option>
					<option value="rating" >Thứ tự theo điểm đánh giá</option>
					<option value="date" >Mới nhất</option>
					<option value="price" >Thứ tự theo giá: thấp đến cao</option>
					<option value="price-desc" >Thứ tự theo giá: cao xuống thấp</option>
			</select>
	<input type="hidden" name="paged" value="1" />
	</form> {% endcomment %}
  
  <form class="woocommerce-ordering" method="get" action="{% url 'category' %}">
    <input type="hidden" name="category" value="{{ request.GET.category }}">
    <select name="orderby" class="orderby" aria-label="Đơn hàng của cửa hàng">
        <option value="menu_order" {% if request.GET.orderby == 'menu_order' %}selected{% endif %}>Thứ tự mặc định</option>
        <option value="date" {% if request.GET.orderby == 'date' %}selected{% endif %}>Mới nhất</option>
        <option value="price" {% if request.GET.orderby == 'price' %}selected{% endif %}>Thứ tự theo giá: thấp đến cao</option>
        <option value="price-desc" {% if request.GET.orderby == 'price-desc' %}selected{% endif %}>Thứ tự theo giá: cao xuống thấp</option>
    </select>
    <input type="hidden" name="paged" value="1" />
</form>
  {% comment %} <form class="woocommerce-ordering" method="get" action="{% url 'category' %}?category={{ request.GET.category }}">    <select name="orderby" class="orderby" aria-label="Đơn hàng của cửa hàng">
        <option value="menu_order" {% if request.GET.orderby == 'menu_order' %}selected{% endif %}>Thứ tự mặc định</option>
        <option value="date" {% if request.GET.orderby == 'date' %}selected{% endif %}>Mới nhất</option>
        <option value="price" {% if request.GET.orderby == 'price' %}selected{% endif %}>Thứ tự theo giá: thấp đến cao</option>
        <option value="price-desc" {% if request.GET.orderby == 'price-desc' %}selected{% endif %}>Thứ tự theo giá: cao xuống thấp</option>
    </select>
    <input type="hidden" name="paged" value="1" />
</form> {% endcomment %}

	  </div>
	</div>
</div>


	<main id="main" class="">
<div class="row category-page-row">

		<div class="col large-12">
		<div class="shop-container">
		
		<div class="woocommerce-notices-wrapper"></div><div class="products row row-small large-columns-4 medium-columns-3 small-columns-2">
      {% for product in products %}
      <div class="product-small col has-hover product type-product post-1275 status-publish instock product_cat-gay-danh has-post-thumbnail shipping-taxable purchasable product-type-simple">
        <div class="col-inner">
          <div class="product-small box">
            <!-- Ảnh sản phẩm -->
            <div class="sale" style="
                                      background-color: #f44236;
                                      width: 50px;
                                      border-radius: 5px;
                                      display: flex;
                                      position: absolute;
                                      z-index: 99;
                                      justify-content: center;
                                      right: 6px;
                                      color: white;
                                      top: 5px;
                                      visibility: {% if product.sale > 0 %} visible {% else %} hidden {% endif %}
                                  "  >
                                      -{{product.sale}}%
                                  </div>
            <div class="box-image">
              <div class="image-fade_in_back">
                <a href="{%url 'detail'%}?id={{product.id}}">
                  <img 
                    loading="lazy" 
                    decoding="async" 
                    width="300" 
                    height="400"
                    src="{{product.ImageUrl}}" 
                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" 
                    alt="Peri PTE-04 SE" 
                  />
                </a>
              </div>
              <div class="image-tools is-small top right show-on-hover"></div>
              <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
              <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
              <div class="out-of-stock-label" style="visibility: {% if product.quantity_in_stock <= 0 %} show {% else %} hidden {% endif %}">
                Hết hàng
              </div>          
            </div>
    
            <!-- Thông tin sản phẩm -->
            <div class="box-text box-text-products">
              <div class="title-wrapper">
                <p class="name product-title woocommerce-loop-product__title">
                  <a href="{%url 'detail'%}?id={{product.id}}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    {{product.name}}
                  </a>
                </p>
              </div>
              <div class="price-wrapper" style="display: flex;
              justify-content: space-between;">
                <span class="price">
                  <span class="woocommerce-Price-amount amount">
                    <bdi>{{product.price | floatformat:2|add_commas}}&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                  </span>
                </span>
                <span class="price" style="display: flex;position: relative;right: 60px;visibility: {% if product.sale > 0 %} visible {% else %} hidden {% endif %}">
                <span class="woocommerce-Price-amount amount"style="text-decoration: line-through;
                                            line-height: 23px;
                                            display: inline-block;
                                            color: #adadad;">
                <bdi>{{product.old_price}}&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                  </span>
                </span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      {% endfor %}
</div>
<!-- row --><div class="container">
<nav class="woocommerce-pagination">
</div>

		</div><!-- shop container -->
		</div>

		<div id="shop-sidebar" class="mfp-hide">
			<div class="sidebar-inner">
            <form class="woocommerce-ordering" method="get" action="{% url 'category' %}">
              <input type="hidden" name="category" value="{{ request.GET.category }}">
            <div class="price-filter" >
              
              <p for="min_price">Giá tối thiểu:</p>
              <input type="number" name="min_price" value="{{ request.GET.min_price }}" placeholder="0">
            
              <p for="max_price">Giá tối đa:</p>
              <input type="number" name="max_price" value="{{ request.GET.max_price }}" placeholder="100000">
            <input type="hidden" name="paged" value="1" />
            </div>
            <button class="btn btn-sm btn-success" type="submit">Tìm</button>

            </form>	
      </div>
		</div>
</div>

</main>
{%endblock category%}


